pip
setuptools
wheel

# needed by pyinstaller:
pefile>=2017.8.1
altgraph
pywin32-ctypes>=0.2.0
pyinstaller-hooks-contrib>=2020.11


qrcode
protobuf==3.20.3
qdarkstyle==3.2.3
aiorpcx>=0.22.0,<0.24
aiohttp>=3.3.0,<4.0.0
aiohttp_socks>=0.8.4
certifi
attrs>=20.1.0
jsonpatch
electrum_ecc
electrum_aionostr>=0.0.6

# Note that we also need the dnspython[DNSSEC] extra which pulls in cryptography,
# but as that is not pure-python it cannot be listed in this file!
dnspython>=2.0